.search-block {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  margin: 40px auto 20px;

  &__input {
    max-width: 240px;
    width: 100%;
    margin-right: 24px;
    border: none;
    border-bottom: 2px solid #e2e2e2;
  }
}
